
<h2>
  <%= @user.username %>
  <% unless session[:user_id].nil? %>
    <% if current_user && @user.blocked? %>
      <span class="label label-info">account frozen</span>
    <% end %>
  <% end %>
</h2>

<p>Has made <%= @user.ratings.count %> ratings</p>

<% if @user.beer_clubs.any? %>

  <p>member of
  <% @user.beer_clubs.each do |club| %>
    <%= link_to club.name, club%>
  <% end %>
  </p>
<% else %>
  <p>no beerclub memberships</p>
<% end %>

<% if @user.ratings.any? %>
  <p> Favorite beer: <%= @user.favorite_beer.name %> </p>
  <p> Favorite brewery: <%= @user.favorite_brewery.name %> </p>
  <p> Favorite style: <%= @user.favorite_style %> </p>

  <p> average rating <%= round(@user.average_rating) %></p>

  <h3>ratings</h3>

  <ul>
  <% @user.ratings.each do |r| %>
    <li>
      <%= r %>
      <% if @user == current_user %>
        <%= link_to 'delete', r, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
  </ul>

<% end %>


<% if @user == current_user %>
  <%= link_to 'change password', edit_user_path(current_user), class:'btn btn-success' %> <br>
  <%= link_to 'destroy', current_user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>
<% unless session[:user_id].nil? %>
  <%if admin_user %>
    <% label = @user.blocked? ? 'reactivate' : 'freeze' %>
    <%= link_to label, block_user_path(@user.id), method: :post, class: "btn btn-danger" %>
  <% end %>
<% end %>
